.navbar {
    background-color: #90a955;
}

.quem-somos {
    background-color: #4f772d;
    color: white;
}

.margin {
    padding-top: 10px;  
    padding-bottom: 40px;
}

.parceiros {
    background-color: #132a13;
    color: white;
}

.espacofoto {
    padding-top: 40px;  
}

.backfooter {
    background-color: #132a13;
    color: white;
}